<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans>
			<bean id="t" class="beans.Test">
			<property name="driver"> 
			<props>
				<prop key="driverclass">oracle.jdbc.OracleDriver</prop>
				<prop key="url">oracle url</prop>
				<prop key="user">system</prop>
				<prop key="password">manager</prop>
			</props>
			</property>
			</bean>
			</beans>